<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Trang Chủ</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <!--Bootstrap CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <!-- Bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- jquery nằm trước owl.carousel.min.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- owl.carousel.min.js đặt sau jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
        rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <!-- Animate.css for animations (optional) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
</head>

<body>

    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
        <div class="container px-4 px-lg-5"> <a class="navbar-brand" href="/"><img src="assets/img/6.png" alt="logo">
                Fruits</a> <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"> Menu <i class="fas fa-bars"></i> </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto py-4 py-lg-0">
                    <li class="nav-item form-inline"> <input class="form-control form-control-sm" type="search"
                            placeholder="Search" aria-label="Search"> <button class="btn btn-outline-success btn-sm"
                            type="submit">Search</button> </li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/"><i
                                class="bi bi-house-fill"></i> Trang Chủ</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/about"><i
                                class="bi bi-list"></i> Giới Thiệu</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/post"><i
                                class="bi bi-basket-fill"></i> Sản Phẩm</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/contact"><i
                                class="bi bi-telephone-fill"></i> Liên hệ</a></li>
                    <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false"> <i
                                class="bi bi-person-fill"></i> Tài khoản </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/dangki">Đăng ký</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/dangnhap">Đăng nhập </a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('/assets/img/1.png')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Trái Cây Tươi</h1>
                        <span class="subheading">Chào mừng bạn đến với cửa hàng!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <div class="">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10  ">
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="views/about.ejs">
                        <div class="row">
                            <div class="col-lg-6">
                                <img src="assets/img/2.png" alt="Bitcoin Image" style="width: 100%;">
                            </div>
                            <div class="col-lg-6">
                                <h3 class="" style="font-family: ChuckFive; font-size: 50px; color: rgb(255, 70, 19);">
                                    GIỚI THIỆU
                                    CỬA HÀNG</h3>
                                <i style="color: gray; text-align: justify;">
                                    Chào mừng quý khách đến với cửa hàng trái cây của chúng tôi! Tại đây, chúng tôi tự
                                    hào mang đến cho quý khách những loại trái cây tươi ngon nhất, được chọn lọc kỹ
                                    lưỡng từ những nhà vườn uy tín trên khắp cả nước. Cửa hàng của chúng tôi không chỉ
                                    cung cấp đa dạng các loại trái cây theo mùa, mà còn cam kết về chất lượng và độ an
                                    toàn thực phẩm.<br>

                                    Chúng tôi luôn đặt sức khỏe của khách hàng lên hàng đầu, vì vậy tất cả các sản phẩm
                                    đều được kiểm tra và bảo quản cẩn thận để giữ nguyên hương vị tự nhiên và giá trị
                                    dinh dưỡng. Đội ngũ nhân viên nhiệt tình và thân thiện của chúng tôi sẵn sàng hỗ trợ
                                    và tư vấn để quý khách có những lựa chọn tốt nhất cho bữa ăn và sức khỏe của
                                    mình.<br>

                                    Hãy đến với cửa hàng trái cây của chúng tôi để trải nghiệm sự tươi mới, chất lượng
                                    vượt trội và dịch vụ hoàn hảo. Chúng tôi rất hân hạnh được phục vụ quý khách!
                                </i>

                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Divider-->
    <hr class="my-4" /> <!-- Post preview-->
    <div class="text-center">
        <h3><b><span style="color: rgb(39, 34, 28);">SẢN PHẨM BÁN CHẠY</span><span style=" color: rgb(255, 70, 19);">
                    TRONG CỬA HÀNG</span></b></h3>
    </div>
    <div class="container my-5">
        <div class="row"> <!-- Card 1 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card card-custom position-relative"> <img src="assets/img/1.jpg" class="card-img-top"
                        alt="Mỳ Xào Cay">
                    <div class="card-body card-body-custom text-center">
                        <h5 class="card-title">Dứa Thái Lan</h5>
                        <p class="card-text">
                            Dứa là loại trái cây phổ biến ở vùng nhiệt đới vị chua ngọt hòa lẫn nhau, là loại thực phẩm
                            giàu vitamin và khoáng chất được ưa chuộng không chỉ trong các món ăn hàng ngày, mà còn dùng
                            làm các loại nước giải khát.
                        </p>
                    </div>

                    <div class="d-flex justify-content-center"> <button class="btn btn-primary">Mua Hàng</button> </div>
                </div>
            </div> <!-- Card 2 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card card-custom position-relative"> <img src="assets/img/oi.jpg" class="card-img-top"
                        alt="Mỳ Xào Cay">
                    <div class="card-body card-body-custom text-center">
                        <h5 class="card-title">Ổi Nữ Hoàng </h5>
                        <p class="card-text">Trái ổi được biết đến là một trong những loại quả chứa nhiều
                            dưỡng chất tốt cho cơ thể chúng ta. Bên cạnh việc ăn trực tiếp, chúng ta còn có
                            thể sử dụng ổi để ép và tạo ra một món thức uống vô cùng thơm ngon và bổ
                            dưỡng.</p>
                    </div>
                    <div class="d-flex justify-content-center"> <button class="btn btn-primary">Mua Hàng</button> </div>
                </div>
            </div> <!-- Card 3 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card card-custom position-relative"> <img src="assets/img/4.png" class="card-img-top"
                        alt="Mỳ Xào Cay">
                    <div class="card-body card-body-custom text-center">
                        <h5 class="card-title">Mận Hà Nội </h5>
                        <p class="card-text">Mận Hà Nội hay còn gọi là loại trái cây thơm, ngon được nhiều
                            người ưa chuộng.Bạn có thể sử dụng máy ép hoa quả để làm nước ép mận giải
                            nhiệt. Chọn những quả có vỏ ngoài trơn,không có vết côn trùng xâm
                            nhập.</p>
                    </div>
                    <div class="d-flex justify-content-center"> <button class="btn btn-primary">Mua Hàng</button> </div>
                </div>
            </div> <!-- Card 4-->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card card-custom position-relative"> <img src="assets/img/2.jpg" class="card-img-top"
                        alt="Mỳ Xào Cay">
                    <div class="card-body card-body-custom text-center">
                        <h5 class="card-title">Chuối Singapor </h5>
                        <p class="card-text">Chuối là một nguồn chất xơ lành mạnh, giàu kali, vitamin B6, vitamin C,
                            chất chống oxy hóa và các phytonutrients. Chuối có nhiều loại và kích cỡ khác nhau</p>
                    </div>
                    <div class="d-flex justify-content-center"> <button class="btn btn-primary">Mua Hàng</button> </div>
                </div>
            </div> <!-- Card 5 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card card-custom position-relative"> <img src="assets/img/quyt.jpg" class="card-img-top"
                        alt="Mỳ Xào Cay">
                    <div class="card-body card-body-custom text-center">
                        <h5 class="card-title">Quýt Ngọt Lào </h5>
                        <p class="card-text"> Quýt là một nhóm trái cây có múi màu cam bao gồm các
                            giống lai của quýt với một số nhánh bưởi.Quả thường được ăn trực tiếp hoặc trộn món xà lách
                            trái cây</p>
                    </div>
                    <div class="d-flex justify-content-center"> <button class="btn btn-primary">Mua Hàng</button> </div>
                </div>
            </div> <!-- Card 6 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card card-custom position-relative"> <img src="assets/img/3.jpg" class="card-img-top"
                        alt="Mỳ Xào Cay">
                    <div class="card-body card-body-custom text-center">
                        <h5 class="card-title">Dưa Hấu </h5>
                        <p class="card-text">Dưa hấu là một loại trái
                            cây yêu thích của nhiều người vào mỗi dịp hè. Loại quả này có vị ngọt
                            thanh mát mà còn mang lại nhiều lợi ích nhất định cho sức khỏe </p>
                    </div>
                    <div class="d-flex justify-content-center"> <button class="btn btn-primary">Mua Hàng</button> </div>
                </div>
            </div>
        </div> <!-- Divider-->
        <hr class="my-4" /> <!-- Post preview-->
        <div class="post-preview"> <a href="post.html">
                <div class="container fluid">
                    <h3><b> CÁC LOẠI <span style="color: #a02800;">TRÁI CÂY KHÁC </span></b></h3>
                    <p style="color: gray;">Nhà hàng chúng tôi luôn đón chào quý khách!</p>
                </div>
            </a> </div>
        <!-- Divider-->
        <hr class="my-4" />
        <!-- Post preview-->
        <div class="post-preview">
            <!--carousel  -->
            <div class="owl-carousel owl-theme animate__delay-1s animate__animated animate__fadeInUp">
                <!-- Bấm hình lên liên kết với Lab khác -->
                <div><img src="assets/img/dauu.jpg" alt=""></div>
                <div> <img src="assets/img/thanhtra.png" alt=""></div>
                <div><img src="assets/img/vai.jpg" alt=""></div>
                <div> <img src="assets/img/thanhtra.png" alt=""> </div>
                <div><img src="assets/img/dauu.jpg" alt=""></div>
                <div> <img src="assets/img/thanhtra.png" alt=""> </div>
                <div><img src="assets/img/vai.jpg" alt=""></div>
                <div> <img src="assets/img/thanhtra.png" alt=""> </div>
                <div><img src="assets/img/dauu.jpg" alt=""></div>
                <div> <img src="assets/img/thanhtra.png" alt=""> </div>

            </div>
        </div>
        <!--  -->
        <hr class="my-4" />
        <footer class="bg-black text-white py-5">
            <div class="container-lg">
                <h3><b>CÁC NHÀ <span style="color: #e2ff07;">CUNG CẤP </span></b></h3>
                <div class="row">
                    <!-- Bên trái -->
                    <div class="col-lg-4 mb-4 mb-lg-0 text-center">
                        <div class="border border-warning rounded p-3">
                            <img src="assets/img/3.jpg" alt="" class="img-fluid rounded mb-3">
                            <h3>QUỐC THÁI </h3>
                            <p style="color: gray;">VietNam </p>
                            <p style="color: gray;">Một trong những nhà cung cấp trái cây
                                hàng đầu thế giới, chuyên cung cấp các loại trái cây hữu cơ và sạch cho thị trường toàn
                                cầu. Với sứ mệnh nâng cao chất lượng cuộc sống thông qua các sản phẩm tự nhiên và lành
                                mạnh.</p>
                            <div class="social-icons d-flex justify-content-center">
                                <img src="assets/img/facebook.png" alt="Facebook" class="social-icon mx-2">
                                <img src="assets/img/twitter.png" alt="Twitter" class="social-icon mx-2">
                                <img src="assets/img/linkedin.png" alt="LinkedIn" class="social-icon mx-2">
                                <img src="assets/img/instagram.png" alt="Instagram" class="social-icon mx-2">
                            </div>
                        </div>
                    </div>
                    <!-- Center -->
                    <div class="col-lg-4 mb-4 mb-lg-0 text-center">
                        <div class="border border-warning rounded p-3">
                            <img src="assets/img/3.jpg" alt="" class="img-fluid rounded mb-3">
                            <h3>THẢO NHI </h3>
                            <p style="color: gray;">VietNam </p>
                            <p style="color: gray;">Một nhà hỗ trợ tiên phong trong lĩnh vực tài chính
                                xanh, hỗ trợ các doanh nghiệp phát triển bền vững. Với các khoản vay ưu đãi và các
                                chương trình hỗ trợ tài chính,đã giúp mở rộng quy mô kinh doanh
                                và nâng cao chất lượng.</p>
                            <div class="social-icons d-flex justify-content-center">
                                <img src="assets/img/facebook.png" alt="Facebook" class="social-icon mx-2">
                                <img src="assets/img/twitter.png" alt="Twitter" class="social-icon mx-2">
                                <img src="assets/img/linkedin.png" alt="LinkedIn" class="social-icon mx-2">
                                <img src="assets/img/instagram.png" alt="Instagram" class="social-icon mx-2">
                            </div>
                        </div>
                    </div>
                    <!-- Bên phải -->
                    <div class="col-lg-4 text-center">
                        <div class="border border-warning rounded p-3">
                            <img src="assets/img/3.jpg" alt="" class="img-fluid rounded mb-3">
                            <h3>ĐỨC LONG </h3>
                            <p style="color: gray;">VietNam </p>
                            <p style="color: gray;">Một nhà phi lợi nhuận quốc tế, hoạt động nhằm
                                thúc đẩy nông nghiệp bền vững và bảo vệ môi trường. Thông qua các dự án hỗ trợ kỹ thuật
                                và đào tạo,các phương pháp canh tác tiên tiến đảm bảo sản phẩm trái cây luôn tươi ngon.
                            </p>
                            <div class="social-icons d-flex justify-content-center">
                                <img src="assets/img/facebook.png" alt="Facebook" class="social-icon mx-2">
                                <img src="assets/img/twitter.png" alt="Twitter" class="social-icon mx-2">
                                <img src="assets/img/linkedin.png" alt="LinkedIn" class="social-icon mx-2">
                                <img src="assets/img/instagram.png" alt="Instagram" class="social-icon mx-2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </footer>
   

    <!-- footer cuối -->
    <footer>
        <div class=""
            style="background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(assets/img/footer.png); background-size: 100% 100%;">
            <div>
                <div class="text-white row row-cols-lg-4" style="padding: 24px 200px;">
                    <div class="col">
                        <h3 class="border-bottom mb-3">THÔNG TIN </h3>
                        <p> Cửa hàng trái cây hàng đầu thế giới với chất lượng, uy tín cao. Đảm bảo an toàn cho người
                            tiêu dùng
                            và giá cả phù hợp. Nhằm cung cấp sản phẩm tốt cho sức khỏe của mỗi người.</p>

                    </div>

                    <div class="col">
                        <h3 class="border-bottom mb-3">ĐĂNG KÍ </h3>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control bg-transparent text-white" id="floatingInput"
                                placeholder="name@example.com">
                            <label for="floatingInput">Email address</label>
                        </div>
                        <button class="btn w-100 text-white"
                            style="background: #f75f19; height: 44px;">SUBSCRIBE</button>
                        <div class="row justify-content-around m-2 mt-4 row-cols-lg-5">
                            <div class="col">
                                <i class="fa-brands fa-square-facebook fa-2x" style="color: #fa7d01;"></i>
                            </div>
                            <div class="col">
                                <i class="fa-brands fa-square-twitter fa-2x" style="color:  #fa7d01;"></i>
                            </div>
                            <div class="col">
                                <i class="fa-brands fa-linkedin-in fa-2x" style="color: #fa9201;"></i>
                            </div>
                            <div class="col">
                                <i class="fa-brands fa-google-plus-g fa-2x" style="color: #fa7d01;"></i>
                            </div>
                            <div class="col">
                                <i class="fa-brands fa-square-instagram fa-2x" style="color: #fa7d01;"></i>
                            </div>

                        </div>
                    </div>

                    <div class="col">
                        <h3 class="border-bottom mb-2">LIÊN HỆ </h3>
                        <p>Cửa hàng: Trái Cây Tươi </p>
                        <p>+123456789000000</p>
                        <p>traicaytuoimat@admin.com</p>
                    </div>

                    <div class="col">
                        <h3 class="border-bottom mb-3">GIỜ MỞ CỬA </h3>
                        <p>Thứ Hai: 8h - 22h </p>
                        <p>Thứ Ba - Tư : 8h - 22h</p>
                        <p>Thứ Năm - Sáu : 8h - 22h</p>
                        <p>Thứ Bảy: đóng cửa</p>
                        <p>Chủ Nhật: đóng cửa </p>

                    </div>
                </div>
                <div class="border-top border-white p-3 bg-black">
                    <p class="text-white text-center my-3">All right reserved: &copy 2025 cửa hàng trái cây tươi mát
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Hình máy bay màu đỏ phía cuối -->
    <a href="#top" class="position-fixed bottom-0 end-0 translate-middle"><i
            class="fa-solid fa-paper-plane fa-3x text-danger"></i></a>



</body>

</html>
<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> <!-- Owl Carousel JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<!-- Initialize Owl Carousel -->
<script> $(document).ready(function () { $('.owl-carousel').owlCarousel({ items: 1, loop: true, margin: 10, autoplay: true, autoplayTimeout: 3000, autoplayHoverPause: true, animateOut: 'fadeOut', animateIn: 'fadeIn', responsive: { 0: { items: 1 }, 600: { items: 3 }, 1000: { items: 5 } } }); }); </script>
<!-- lordicon  nhúng bằng embed-->
<script src="https://cdn.lordicon.com/lordicon.js"></script>